.shelf-thumbnail{
    width: 180px;
    height: 250px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.shelf-thumbnail:hover {
    opacity: 0.5;
}
.wrapper {
    height: 250px;
    margin: 5px;
    width: 180px;
    position: relative;
}
.on-hover {
    display: none;

}
.wrapper:hover .shelf-thumbnail{
    opacity: 0.5;
}
.wrapper:hover .on-hover {
    display: inline-block;
    position: absolute;
    /* height: 100%; */
    left: 2%;
    right: 0;
    top: 10%;
    width: 100%;
    /* bottom: 50px; */
    /* margin-bottom: 60px; */
    text-align: center;
}

.shelf-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 30px;
}

.shelf-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.no-books-msg {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 24px;
}

