/* TODO Add site wide styles */
* {
    font-family: 'Merriweather', Georgia, serif;
}

button {
    background-color: rgb(126, 99, 154);
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(126, 99, 154);

}
/* link {
    color: white;
    text-decoration: none;
} */