input {
    color: rgb(126, 99, 154);
    width: 100%;
    align-items: center;
    margin: 4px;
    /* border: 1px red solid; */
}
.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.form-section {
    display: flex;
    flex-direction: column;
    width: 60%
}
.button-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

.add-book-header {
    color: black;
}
.add-book-h3 {
    color: black
}