.whole-curr-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.current-book-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.current-book-thumbnail {
    height: 300px;
    width: 275px;
    border-radius: 0px 10px 10px 0px;
}
.current-book-thumb-container {
    width: 33%;
    flex-direction: column;
    height: 100%;
    padding: 50px;
}
.current-book-title:not(.current-book-summary) {

    /* width: 100%; */
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 20px;
}
.current-book-author {
    font-size: 24px;
    padding-bottom: 15px;

}
.current-book-summary {
    font-size: 16px;
    font-family:'Montserrat';
    font-weight: bolder;
    width: 600px;
    height: 50%;
    overflow: scroll;
    overflow-wrap: break-word;
    /* border: 1px red solid; */
}

.star-reviews {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reviews-on-curr-book {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}