.reviewcard-container{ 
    /* border: 1px gray solid; */
    border-radius: 3%;
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 10px;
    overflow-y:scroll;
    overflow-wrap: break-word;
}

.review-text {
    font-weight: bold;
    /* border: 1px red solid; */
    width: 70%;
    /* overflow-wrap: break-word;
    overflow-y: scroll; */
    padding-top: 15px;
}

.create-review-navlink {
    text-decoration: none;
    color: white;
}

.edit-review-navlink {
    text-decoration: none;
    color: white;
}

.delete-review-navlink {
    text-decoration: none;
    color: white;
}

.delete-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 500px;
    padding: 10px;
    margin-left: 30%;
    margin-top: 20%;
    /* border: 1px solid gray; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:  5px;
    overflow-wrap: break-word;
}

.review-text {
    overflow-wrap: break-word;
}


.add-review-text {
    width: 80%;
}
.add-review-number {
    width: 80%;
}
.add-review-form {
    display: flex;
    flex-direction: column;
    width: 60%
}

.add-review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 15%; */
}

.submit-review-button {
    width: 83%;
}

.reviews-heading {
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
.tinystar {
    color: #FFC000;
    font-size: 16px;
}
.star-container {
    display: flex;
    flex-direction: row;
}

.review-not-logged {
    padding: 25px;
    font-size: 26px;
}